﻿
 <form id="kc-form-login" class="form-horizontal" action="http://37.131.251.159:8080/auth/realms/fispace/tokens/auth/request/login?redirect_uri=http://37.131.251.57:8080/fispace/api/capabilities&state=225%2F74002631-2e8c-492e-b4b1-37f2e421520a&login=true&client_id=fispace-sdi" method="post">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <label for="username" class="control-label">Username or email</label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <input id="username" class="form-control" name="username" value="" type="text" autofocus />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <label for="password" class="control-label">Password</label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <input id="password" class="form-control" name="password" type="password" value="" />
            </div>
        </div>

        <div class="form-group">
            <div id="kc-form-options" class="col-xs-4 col-sm-5 col-md-offset-4 col-md-4 col-lg-offset-3 col-lg-5">
                <div class="">
                </div>
            </div>

            <div id="kc-form-buttons" class="col-xs-8 col-sm-7 col-md-4 col-lg-4 submit">
                <div class="">
                    <input class="btn btn-primary btn-lg" name="login" id="kc-login" type="submit" value="Log in" />
                    <input class="btn btn-default btn-lg" name="cancel" id="kc-cancel" type="submit" value="Cancel" />
                </div>
            </div>
        </div>
    </form>