﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to FISPACE OAut Testing!</h1>
            </hgroup>
            <p>
                FISPACE Platform allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about FISPACE visit the
                <a href="http://fispace.eu/" title="FISPACE Website">FISPACE Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from FISPACE Web API.
                If you have any questions about FISPACE, visit
                <a href="http://fispace.eu/contact.php" title="FISPACE Contact">our contact</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                FISPACE Platform is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. FISPACE
                is an ideal platform for building applications on the Internet.
                <a href="http://dev.fispace.eu/doc/wiki/Home">Learn more…</a>
            </li>

            <li class="two">
                <h5>Add Eclipse and jump-start your coding</h5>
                Eclipse makes it easy to install and update free libraries and tools.
                <a href="https://eclipse.org/">Learn more…</a>
            </li>
            <li class="three">
                <h5>Find Solutions by Industry</h5>
                You can easily find a Solutions by Industry that offers the right mix of features.
                <a href="http://fispace.eu/apps.html#crop-protection">Learn more…</a>
            </li>
        </ol>
    </section>
</div>
